In [1]:
import numpy as np 
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split 
from sklearn.compose import ColumnTransformer 

from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OneHotEncoder 

from sklearn.preprocessing import MinMaxScaler 
from sklearn.pipeline import Pipeline , make_pipeline 

from sklearn.feature_selection  import SelectKBest , chi2 
from sklearn.tree import DecisionTreeClassifier

In [3]:
df = pd.read_csv("C:\\Users\\Shree Com\\Desktop\\Data\\titanic.csv")

In [4]:
df.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S

In [5]:
df.drop(columns = ['PassengerId' , 'Name' , 'Ticket' , 'Cabin' ] , inplace = True)

In [6]:
x_train , x_test , y_train , y_test = train_test_split(df.drop(columns =  ['Survived']) ,
                                                       df['Survived'] , test_size = 0.2 , random_state = 42)

In [7]:
x_train.head(2)

     Pclass   Sex   Age  SibSp  Parch  Fare Embarked
336       2  male  32.0      0      0  13.0        S
31        2  male  24.0      2      0  31.5        S

In [8]:
# imputation transformer  

trf1 = ColumnTransformer([
    ('impute_age' , SimpleImputer() ,[2]) , 
    ('impute_Embarked' , SimpleImputer(strategy = 'most_frequent') , [6]) ,
    
] , remainder = 'passthrough')

In [12]:
trf1.fit_transform(x_train)
new=pd.DataFrame(trf1,columns="")

ValueError: DataFrame constructor not properly called!

In [9]:
# one hot Encoding 

trf2 = ColumnTransformer([
    ('ohe_sex_embarked' , OneHotEncoder(sparse = False , handle_unknown = 'ignore') , [1 , 6]) , 
    
] , remainder = 'passthrough')

In [10]:
# Scaling 

trf3 = ColumnTransformer([
    ('scale' , MinMaxScaler() , slice(0 , 10 ))
])

In [11]:
# Feature Selection 

trf4 = SelectKBest(score_func = chi2 , k = 8)

In [12]:
# train the model 
trf5 = DecisionTreeClassifier()

In [13]:
pipe = Pipeline([
    ('trf1' , trf1) , 
    ('trf2' , trf2) ,
    ('trf3' , trf3) ,
    ('trf4' , trf4) , 
    ('trf5' , trf5)
])

In [14]:
pipe

Pipeline(steps=[('trf1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_Embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('trf2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('trf3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('trf4',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x0000017E158C4700>)),
                ('trf5', DecisionTreeClassifier())])

In [15]:
# Alternative Syntax 

pipe = make_pipeline(trf1 , trf2 , trf3 , trf4 , trf5)

In [16]:
pipe

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_Embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('columntransformer-3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('selectkbest',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x0000017E158C4700>)),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [17]:
pipe.fit(x_train , y_train)

Pipeline(steps=[('columntransformer-1',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('impute_age', SimpleImputer(),
                                                  [2]),
                                                 ('impute_Embarked',
                                                  SimpleImputer(strategy='most_frequent'),
                                                  [6])])),
                ('columntransformer-2',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('ohe_sex_embarked',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse=False),
                                                  [1, 6])])),
                ('columntransformer-3',
                 ColumnTransformer(transformers=[('scale', MinMaxScaler(),
                                                  slice(0, 10, None))])),
                ('selectkbest',
                 SelectKBest(k=8,
                             score_func=<function chi2 at 0x0000017E158C4700>)),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

# Explore the pipeline

In [18]:
pipe.named_steps

{'columntransformer-1': ColumnTransformer(remainder='passthrough',
                   transformers=[('impute_age', SimpleImputer(), [2]),
                                 ('impute_Embarked',
                                  SimpleImputer(strategy='most_frequent'),
                                  [6])]),
 'columntransformer-2': ColumnTransformer(remainder='passthrough',
                   transformers=[('ohe_sex_embarked',
                                  OneHotEncoder(handle_unknown='ignore',
                                                sparse=False),
                                  [1, 6])]),
 'columntransformer-3': ColumnTransformer(transformers=[('scale', MinMaxScaler(), slice(0, 10, None))]),
 'selectkbest': SelectKBest(k=8, score_func=<function chi2 at 0x0000017E158C4700>),
 'decisiontreeclassifier': DecisionTreeClassifier()}

In [19]:
# Display pipeline 

from sklearn import set_config 

set_config(display = 'diagram')

In [20]:
# prediction 

y_pred = pipe.predict(x_test)

In [21]:
y_pred

array([0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1], dtype=int64)

In [22]:
from sklearn.metrics import accuracy_score 

accuracy_score(y_test , y_pred)

0.5952380952380952

In [23]:
# Cross Validation using Pipeline  

from sklearn.model_selection import cross_val_score 
cross_val_score(pipe , x_train, y_train , cv = 5 , scoring = 'accuracy').mean()

0.622840343735866

# Exporting the piepline

In [24]:
# export 

import pickle 
pickle.dump(pipe , open('pipe.pkl' , 'wb'))