In [64]:
import numpy as np 
import pandas as pd

In [65]:
df = pd.read_csv("C:\\Users\\Shree com\\Desktop\\Data\\Salary_Data.csv")

In [66]:
df

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [67]:
df.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [68]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression

In [69]:


x =np.array(df[["YearsExperience"]])
y =np.array(df[["Salary"]])

In [70]:
x_train , x_test , y_train,  y_test = train_test_split(x,y, test_size = 0.2 , random_state = 42)

In [71]:
lr = LinearRegression()

In [72]:
lr.fit(x_train , y_train)

LinearRegression()

In [75]:
userinput=int(input("enter year exprience"))
feature=np.array([[userinput]])
print("the prediction is :",lr.predict(feature))

enter year exprience6
the prediction is : [[81864.47494996]]

In [74]:
lr.score(x_test,y_test)

0.9024461774180497