In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
np.random.seed(20)
val1=np.array([0,0,0])
val2=np.array([[1,0,0],[0,1,0],[0,0,1]])
new=np.random.multivariate_normal(val1,val2,20)
df=pd.DataFrame(new,columns=["column1","column2","column3"])
df["target"]=0
df

     column1   column2   column3  target
0   0.883893  0.195865  0.357537       0
1  -2.343262 -1.084833  0.559696       0
2   0.939469 -0.978481  0.503097       0
3   0.406414  0.323461 -0.493411       0
4  -0.792017 -0.842368 -1.279503       0
5   0.245715 -0.044195  1.567633       0
6   1.051109  0.406368 -0.168646       0
7  -3.189703  1.120132  1.332778       0
8  -0.243339 -0.130031 -0.109017       0
9   1.556186  0.128778 -2.066949       0
10 -0.885493 -1.104579  0.932866       0
11  2.059838 -0.934938 -1.612990       0
12  0.527070 -1.551101  0.329613       0
13 -1.136527 -0.338491  0.320971       0
14 -0.602308  1.544728  0.647034       0
15  0.593217  0.438024  1.357789       0
16  1.204511  1.351796  0.493437       0
17 -2.704365 -0.555186  0.001509       0
18  0.857094  1.481144 -0.219661       0
19  1.503398 -1.482385 -0.856164       0

In [4]:
val2=np.array([0,0,0])
val3=np.array([[1,0,0],[0,1,0],[0,0,1]])
new1=np.random.multivariate_normal(val2,val3,20)
df2=pd.DataFrame(new1,columns=["column1","column2","column3"])
df2["target"]=1
df2

     column1   column2   column3  target
0  -0.828693  0.114048  0.527728       1
1   0.155838  1.301429 -0.994802       1
2   2.094665  0.359429  0.691002       1
3  -1.485720  0.098789 -0.228321       1
4  -0.854775 -0.513145 -0.962216       1
5  -0.482451 -0.239470  0.459744       1
6   0.646430  0.487403  0.038192       1
7   0.989487  0.143623  0.750298       1
8  -0.409571  1.447407 -0.404534       1
9   1.148925 -0.938910 -1.901464       1
10  1.095433 -0.333544 -1.441849       1
11 -1.416667 -1.629502 -1.815256       1
12 -1.056169  0.554275 -0.950018       1
13  0.857999 -0.532079  1.125759       1
14  0.218658 -0.392882 -0.228697       1
15 -1.576255  0.165833  0.788797       1
16 -1.961892 -1.852038  1.091887       1
17  0.934591 -0.711786  1.443083       1
18  0.752313 -1.334921  0.676640       1
19  0.831106 -0.365057  0.496770       1

In [5]:
df=df.append(df2,ignore_index=True)

C:\Users\Shree Com\AppData\Local\Temp\ipykernel_15316\2482205262.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df=df.append(df2,ignore_index=True)

In [6]:
df

     column1   column2   column3  target
0   0.883893  0.195865  0.357537       0
1  -2.343262 -1.084833  0.559696       0
2   0.939469 -0.978481  0.503097       0
3   0.406414  0.323461 -0.493411       0
4  -0.792017 -0.842368 -1.279503       0
5   0.245715 -0.044195  1.567633       0
6   1.051109  0.406368 -0.168646       0
7  -3.189703  1.120132  1.332778       0
8  -0.243339 -0.130031 -0.109017       0
9   1.556186  0.128778 -2.066949       0
10 -0.885493 -1.104579  0.932866       0
11  2.059838 -0.934938 -1.612990       0
12  0.527070 -1.551101  0.329613       0
13 -1.136527 -0.338491  0.320971       0
14 -0.602308  1.544728  0.647034       0
15  0.593217  0.438024  1.357789       0
16  1.204511  1.351796  0.493437       0
17 -2.704365 -0.555186  0.001509       0
18  0.857094  1.481144 -0.219661       0
19  1.503398 -1.482385 -0.856164       0
20 -0.828693  0.114048  0.527728       1
21  0.155838  1.301429 -0.994802       1
22  2.094665  0.359429  0.691002       1
23 -1.485720  0.098789 -0.228321       1
24 -0.854775 -0.513145 -0.962216       1
25 -0.482451 -0.239470  0.459744       1
26  0.646430  0.487403  0.038192       1
27  0.989487  0.143623  0.750298       1
28 -0.409571  1.447407 -0.404534       1
29  1.148925 -0.938910 -1.901464       1
30  1.095433 -0.333544 -1.441849       1
31 -1.416667 -1.629502 -1.815256       1
32 -1.056169  0.554275 -0.950018       1
33  0.857999 -0.532079  1.125759       1
34  0.218658 -0.392882 -0.228697       1
35 -1.576255  0.165833  0.788797       1
36 -1.961892 -1.852038  1.091887       1
37  0.934591 -0.711786  1.443083       1
38  0.752313 -1.334921  0.676640       1
39  0.831106 -0.365057  0.496770       1

In [7]:
from sklearn.preprocessing import StandardScaler

In [8]:
sc=StandardScaler()

In [9]:
df.iloc[:,:3]=sc.fit_transform(df.iloc[:,:3])

In [10]:
df.iloc[:,:3]

     column1   column2   column3
0   0.698546  0.393143  0.349380
1  -1.822246 -1.039079  0.558020
2   0.741958 -0.920145  0.499606
3   0.325579  0.535836 -0.528847
4  -0.610539 -0.767928 -1.340138
5   0.200053  0.124681  1.598267
6   0.829162  0.628552 -0.193671
7  -2.483417  1.426764  1.355884
8  -0.181956  0.028689 -0.132131
9   1.223687  0.318119 -2.152827
10 -0.683555 -1.061163  0.943153
11  1.617099 -0.871450 -1.684316
12  0.419825 -1.560514  0.320561
13 -0.879642 -0.204434  0.311642
14 -0.462354  1.901596  0.648158
15  0.471494  0.663954  1.381697
16  0.948987  1.685838  0.489637
17 -2.104310 -0.446768 -0.018062
18  0.677613  1.830489 -0.246321
19  1.182453 -1.483668 -0.903229
20 -0.639187  0.301646  0.525027
21  0.129849  1.629512 -1.046311
22  1.644304  0.576059  0.693535
23 -1.152403  0.284581 -0.255259
24 -0.659561 -0.399753 -1.012680
25 -0.368731 -0.093698  0.454864
26  0.513060  0.719174  0.019798
27  0.781027  0.334720  0.754732
28 -0.311803  1.792761 -0.437121
29  0.905568 -0.875893 -1.982037
30  0.863784 -0.198902 -1.507688
31 -1.098465 -1.648191 -1.893066
32 -0.816873  0.793958 -1.000091
33  0.678320 -0.420927  1.142229
34  0.178918 -0.265261 -0.255647
35 -1.223122  0.359558  0.794465
36 -1.524351 -1.897057  1.107271
37  0.738147 -0.621896  1.469725
38  0.595767 -1.318757  0.678712
39  0.657313 -0.234145  0.493077

In [11]:
np.round(df.describe())

       column1  column2  column3  target
count     40.0     40.0     40.0    40.0
mean       0.0      0.0      0.0     0.0
std        1.0      1.0      1.0     1.0
min       -2.0     -2.0     -2.0     0.0
25%       -1.0     -1.0     -1.0     0.0
50%        0.0     -0.0      0.0     0.0
75%        1.0      1.0      1.0     1.0
max        2.0      2.0      2.0     1.0

In [12]:
covariance_matrics=np.cov([df["column1"],df["column2"],df["column3"]])

In [13]:
covariance_matrics

array([[ 1.02564103,  0.04464689, -0.19440275],
       [ 0.04464689,  1.02564103,  0.09687074],
       [-0.19440275,  0.09687074,  1.02564103]])

In [14]:
eigen_values, eigen_vectors=np.linalg.eig(covariance_matrics)

In [17]:
pc=eigen_vectors[:2]
pc

array([[ 0.62602529, -0.65483515,  0.42341854],
       [-0.39293075,  0.20411876,  0.89662755]])

In [16]:
df.iloc[:,:3]

     column1   column2   column3
0   0.698546  0.393143  0.349380
1  -1.822246 -1.039079  0.558020
2   0.741958 -0.920145  0.499606
3   0.325579  0.535836 -0.528847
4  -0.610539 -0.767928 -1.340138
5   0.200053  0.124681  1.598267
6   0.829162  0.628552 -0.193671
7  -2.483417  1.426764  1.355884
8  -0.181956  0.028689 -0.132131
9   1.223687  0.318119 -2.152827
10 -0.683555 -1.061163  0.943153
11  1.617099 -0.871450 -1.684316
12  0.419825 -1.560514  0.320561
13 -0.879642 -0.204434  0.311642
14 -0.462354  1.901596  0.648158
15  0.471494  0.663954  1.381697
16  0.948987  1.685838  0.489637
17 -2.104310 -0.446768 -0.018062
18  0.677613  1.830489 -0.246321
19  1.182453 -1.483668 -0.903229
20 -0.639187  0.301646  0.525027
21  0.129849  1.629512 -1.046311
22  1.644304  0.576059  0.693535
23 -1.152403  0.284581 -0.255259
24 -0.659561 -0.399753 -1.012680
25 -0.368731 -0.093698  0.454864
26  0.513060  0.719174  0.019798
27  0.781027  0.334720  0.754732
28 -0.311803  1.792761 -0.437121
29  0.905568 -0.875893 -1.982037
30  0.863784 -0.198902 -1.507688
31 -1.098465 -1.648191 -1.893066
32 -0.816873  0.793958 -1.000091
33  0.678320 -0.420927  1.142229
34  0.178918 -0.265261 -0.255647
35 -1.223122  0.359558  0.794465
36 -1.524351 -1.897057  1.107271
37  0.738147 -0.621896  1.469725
38  0.595767 -1.318757  0.678712
39  0.657313 -0.234145  0.493077

In [18]:
transformed=np.dot(df.iloc[:,:3],pc.T)

In [19]:
new_data=pd.DataFrame(transformed,columns=["column1","columns2"])

In [20]:
new_data

     column1  columns2
0   0.327798  0.119031
1  -0.224070  1.004257
2   1.278570 -0.031396
3  -0.370987 -0.492734
4  -0.446786 -1.118454
5   0.720329  1.379893
6   0.025474 -0.371154
7  -1.914871  2.482764
8  -0.188642 -0.041120
9  -0.353803 -2.346174
10  0.666312  0.897643
11  0.869831 -2.323491
12  1.420432 -0.196068
13 -0.284852  0.583336
14 -1.260235  1.150980
15  0.445423  1.189129
16 -0.302534  0.410247
17 -1.032440  0.719460
18 -0.878763 -0.113476
19  1.329360 -1.577326
20 -0.375369  0.783482
21 -1.428800 -0.656559
22  0.945807  0.093330
23 -1.015869  0.282031
24 -0.579917 -0.730432
25  0.023120  0.533604
26 -0.141369 -0.037048
27  0.589324  0.438146
28 -1.554244  0.096519
29  0.301242 -2.311761
30  0.032616 -1.731842
31 -0.409933 -1.602181
32 -1.454752 -0.413673
33  1.183925  0.671702
34  0.177464 -0.353667
35 -0.664765  1.266334
36  0.756816  1.204549
37  1.491647  0.900815
38  1.523913  0.105274
39  0.773599  0.136034

In [21]:
df.ndim

2

In [22]:
new_data.ndim

2

In [23]:
def raj():
    print("my name rajendra")

In [28]:
a=raj

In [29]:
a()

my name rajendra

In [30]:
a()

my name rajendra