In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv("C:\\Users\\Shree Com\\Desktop\\Data\covid_toy.csv")

In [4]:
df

    age  gender  fever   cough       city has_covid
0    60    Male  103.0    Mild    Kolkata        No
1    27    Male  100.0    Mild      Delhi       Yes
2    42    Male  101.0    Mild      Delhi        No
3    31  Female   98.0    Mild    Kolkata        No
4    65  Female  101.0    Mild     Mumbai        No
..  ...     ...    ...     ...        ...       ...
95   12  Female  104.0    Mild  Bangalore        No
96   51  Female  101.0  Strong    Kolkata       Yes
97   20  Female  101.0    Mild  Bangalore        No
98    5  Female   98.0  Strong     Mumbai        No
99   10  Female   98.0  Strong    Kolkata       Yes

[100 rows x 6 columns]

In [5]:
from sklearn.linear_model import LinearRegression ,LogisticRegression

In [6]:
from sklearn.preprocessing import StandardScaler

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
le=LabelEncoder()

In [9]:
df["gender"]=le.fit_transform(df["gender"])

In [10]:
df["cough"]=le.fit_transform(df["cough"])

In [11]:
df["city"].value_counts()

Kolkata      32
Bangalore    30
Delhi        22
Mumbai       16
Name: city, dtype: int64

In [12]:
df["city"]=le.fit_transform(df["city"])

In [13]:
df["city"].value_counts()

2    32
0    30
1    22
3    16
Name: city, dtype: int64

In [14]:
df["has_covid"]=le.fit_transform(df["has_covid"])

In [15]:
df["fever"]=df["fever"].fillna(df["fever"].mean())

In [16]:
x=df.drop(columns=["has_covid"])

In [17]:
df

    age  gender  fever  cough  city  has_covid
0    60       1  103.0      0     2          0
1    27       1  100.0      0     1          1
2    42       1  101.0      0     1          0
3    31       0   98.0      0     2          0
4    65       0  101.0      0     3          0
..  ...     ...    ...    ...   ...        ...
95   12       0  104.0      0     0          0
96   51       0  101.0      1     2          1
97   20       0  101.0      0     0          0
98    5       0   98.0      1     3          0
99   10       0   98.0      1     2          1

[100 rows x 6 columns]

In [18]:
y=df["has_covid"]

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [21]:
sc=StandardScaler()

In [22]:
x_train_new=sc.fit_transform(x_train)
x_test_new=sc.transform(x_test)

In [63]:
from sklearn.tree import DecisionTreeClassifier

In [64]:
dtc=DecisionTreeClassifier()

In [65]:
dtc.fit(x_train_new,y_train)

DecisionTreeClassifier()

In [66]:
y_pred2=dtc.predict(x_test_new)

In [67]:
r2_score(y_test,y_pred2)

-0.6666666666666665