# SimpleImputer

In [2]:
import pandas as pd 
import numpy as np

# Column Transformer

In [4]:
df = pd.read_csv("C:\\Users\\Shree com\\Desktop\\Data\\covid_toy.csv")
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
from sklearn.model_selection import train_test_split

x = df.drop(columns = ['has_covid'] , axis = 1) 
y = df['has_covid']

In [7]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2 , random_state =42)

In [8]:
x_train

    age  gender  fever   cough       city
55   81  Female  101.0    Mild     Mumbai
88    5  Female  100.0    Mild    Kolkata
26   19  Female  100.0    Mild    Kolkata
42   27    Male  100.0    Mild      Delhi
69   73  Female  103.0    Mild      Delhi
..  ...     ...    ...     ...        ...
60   24  Female  102.0  Strong  Bangalore
71   75  Female  104.0  Strong      Delhi
14   51    Male  104.0    Mild  Bangalore
92   82  Female  102.0  Strong    Kolkata
51   11  Female  100.0  Strong    Kolkata

[80 rows x 5 columns]

# Manually type output

In [9]:
from sklearn.impute import SimpleImputer 
from sklearn.preprocessing import OrdinalEncoder , OneHotEncoder

In [10]:
si = SimpleImputer() 
x_train_fever = si.fit_transform(x_train[['fever']])
x_test_fever = si.transform(x_test[['fever']])

In [11]:
# x_train_new

In [12]:
x_train_new.shape

NameError: name 'x_train_new' is not defined

In [ ]:
# Ordinal Encoding --> Cough

oe = OrdinalEncoder(categories = [['Mild' , 'Strong']]) 
x_train_cough = oe.fit_transform(x_train[['cough']])

In [ ]:
# also the test data 
x_test_cough = oe.transform(x_test[['cough']])

In [ ]:
# OneHotEncoding ---> Gender , City 

ohe = OneHotEncoder(drop = 'first' , sparse = False)
x_train_gender_city = ohe.fit_transform(x_train[['gender' , 'city']])
x_test_gender_city = ohe.transform(x_test[['gender' , 'city']])

In [ ]:
x_train_gender_city.shape

In [ ]:
# Extracting Age 

x_train_age = x_train.drop(columns = ['gender' ,'fever' , 'cough' , 'city']).values  
x_test_age = x_test.drop(columns = ['gender' , 'fever' , 'cough' , 'city']).values

In [ ]:
x_train_age.shape

In [ ]:
x_train_transformed = np.concatenate((x_train_age , x_train_fever , x_train_gender_city, x_train_cough) , 1)

In [ ]:
x_train_transformed.shape

# By the help of columnTransformer

In [13]:
from sklearn.compose import ColumnTransformer

In [14]:
transformer = ColumnTransformer(transformers = [
    ('tnf1' , SimpleImputer() , ['fever']),
    ('tnf2' , OrdinalEncoder(categories = [['Mild' , 'Strong']]) , ['cough']),
    ('tnf3' , OneHotEncoder(sparse = False , drop = 'first') , ['gender' , 'city'])
] , remainder = 'passthrough')

In [15]:
# transformer

In [16]:
transformer.fit_transform(x_train).shape

(80, 7)